<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()" [disabled]="submitting">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>

    <ion-title>Add Expense</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="expenseForm.pristine || expenseForm.invalid || submitting">
        <ion-icon slot="start" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>

    <!-- Progress Bar -->

    <ion-progress-bar *ngIf="submitting" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content class="ion-padding" [formGroup]="expenseForm">
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-input maxlength="40" placeholder="Enter the expenses's name" required formControlName="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="pricetag" slot="start"></ion-icon>
    <ion-select interface="popover" placeholder="Choose a category" formControlName="categoryId">
      <ion-select-option *ngFor="let category of categories" [value]="category.id"
        >{{ category.name }}
      </ion-select-option>
    </ion-select>
    <ion-button slot="end" (click)="showCategoryModal()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-icon name="cash" slot="start"></ion-icon>
    <ion-input
      inputmode="decimal"
      placeholder="Enter the amount in CHF"
      required
      step="0.01"
      type="number"
      formControlName="amount"
      min="0.01"
    >
    </ion-input>
    <ion-note slot="end">CHF</ion-note>
  </ion-item>

  <ion-item>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-datetime-button datetime="date"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime presentation="date" id="date" formControlName="date"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
</ion-content>
